<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Nab Home Loan Enquery</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9773e5">  <td>21/07/28 08:27:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomeLoanEnquery.LaunchBrowser(java.lang.String, java.lang.String, org.testng.ITestContext)[pri:0, instance:tests.HomeLoanEnquery@6b927fb]">&gt;&gt;LaunchBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1239759990</td>   <td></td> </tr>
<tr bgcolor="9773e5">  <td>21/07/28 08:28:08</td>   <td>14900</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;HomeLoanEnquery.TeardownTest()[pri:0, instance:tests.HomeLoanEnquery@6b927fb]">&lt;&lt;TeardownTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1239759990</td>   <td></td> </tr>
<tr bgcolor="9773e5">  <td>21/07/28 08:28:05</td>   <td>12508</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomeLoanEnquery.verifyCallBackFormPage(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tests.HomeLoanEnquery@6b927fb]">verifyCallBackFormPage</td> 
  <td>main@1239759990</td>   <td></td> </tr>
<tr bgcolor="9773e5">  <td>21/07/28 08:28:07</td>   <td>14252</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomeLoanEnquery.verifyFeedbackPage()[pri:0, instance:tests.HomeLoanEnquery@6b927fb]">verifyFeedbackPage</td> 
  <td>main@1239759990</td>   <td></td> </tr>
<tr bgcolor="9773e5">  <td>21/07/28 08:28:00</td>   <td>7083</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomeLoanEnquery.verifyHomeLoanPage()[pri:0, instance:tests.HomeLoanEnquery@6b927fb]">verifyHomeLoanPage</td> 
  <td>main@1239759990</td>   <td></td> </tr>
<tr bgcolor="9773e5">  <td>21/07/28 08:28:01</td>   <td>7922</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomeLoanEnquery.verifyHomeLoanTopicPage()[pri:0, instance:tests.HomeLoanEnquery@6b927fb]">verifyHomeLoanTopicPage</td> 
  <td>main@1239759990</td>   <td></td> </tr>
<tr bgcolor="9773e5">  <td>21/07/28 08:27:57</td>   <td>4683</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomeLoanEnquery.verifyHomePage()[pri:0, instance:tests.HomeLoanEnquery@6b927fb]">verifyHomePage</td> 
  <td>main@1239759990</td>   <td></td> </tr>
</table>
